MAILER_ADDRESS="127.0.0.1"
MAILER_PORT="1025"
MAILER_DOMAIN="foobar.com"
MAILER_USERNAME="foobar"
MAILER_PASSWORD="foobar"
MAILER_AUTHENTICATION="plain"
MAILER_DEFAULT_FROM="info@zeitkit.com"
AIRBRAKE_PROJECT_ID=0000
AIRBRAKE_PROJECT_KEY='foobar'
