development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  database: db/production_time
  pool: 5
  username: hendricius
  password:
