@import "compass"
.large-icon
  font-size: 300px
#signup-email
  margin: 0px 10px 0px 0px
  height: 28px
.signup-links
  margin-bottom: 15px
.brand-font
  font-family: "Pacifico", cursive
.footer-logo
  font-size: 22px
  color: #777
.content
  padding: 70px 0px 100px 0px
  @include box-sizing(border-box)
#wrapper
  min-height: 100%
  position: relative
.footer-wrapper
  border-top: 1px solid #ddd
  background: #fff
  position: absolute
  width: 100%
  height: 100px
  left: 0px
  bottom: 0px
  @include box-sizing(border-box)
  padding-top: 20px
  .lead
    font-size: 16px
