$light-pink: #ec6197
$dark-pink: #ea4c89
$light-orange: #f47a33
$dark-orange: #f26234
$light-color: $light-orange
$dark-color: $dark-orange
.large-icon
  font-size: 300px
  text-shadow: 0px 2px 2px #af5422
#signup-email
  margin: 0px 10px 0px 0px
  height: 28px
.signup-links
  margin-bottom: 15px
.brand-font
  font-family: "Pacifico", cursive
.footer-logo
  font-size: 22px
  color: #777
.content
  padding: 70px 0px 120px 0px
  @include box-sizing(border-box)
#wrapper
  min-height: 100%
  position: relative
.home-design
  @include linear-gradient(top, #f47a33 0%, #f26234 50%)
  h1, h2, h3, h4, h5, h6, .hero-unit h1
    color: #fff
    text-shadow: 0px 2px 2px #af5422
    line-height: 90px
    text-align: center
    margin-bottom: 50px
  .home-submit
    color: #278276
    margin-left: 20px
    text-shadow: 0px 1px #b0ebe4
    text-transform: uppercase
  .content
    color: #fff
    blockquote small
      color: inherit
  .large-icon
    margin-top: -11px
    display: block
.footer-wrapper
  border-top: 1px solid #ddd
  background: #fff
  position: absolute
  width: 100%
  height: 100px
  left: 0px
  bottom: 0px
  @include box-sizing(border-box)
  padding-top: 20px
  .lead
    font-size: 16px
.notices
  margin-bottom: 15px
