.key-value
  span
    &:last-of-type
      float: right
.grey-box
  background: #eee
.includes-vat
  padding-top: 105px
.default-includes-vat
  padding-top: 34px
#invoice_content
  width: 604px
.unpaid-worklogs
  margin: 0px
  padding: 0px
  li
    span
      &:last-of-type
        margin-left: 4px
  span, a
    display: inline-block
  a
    margin-left: 5px
.client-unpaid-list
  h3
    margin: 0px
    padding: 0px
