.hide-for-print
  display: none
h1, h2, h3, h4, h5, h6, .hero-unit h1
  text-shadow: none
.navbar, .footer-wrapper
  display: none
.alert
  display: none
a
  color: inherit
.invoice-controls
  display: none
.content
  @include box-shadow(none)
  border: none
  padding: 20px
  margin-top: 0px
html
  background: none
