@media (max-width: 767px)
  .content
    padding: 0px 10px 20px 10px
    margin-top: 0px
    margin-bottom: 0px
  .hero-unit
    padding: 10px
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
    margin-left: 0px
    margin-right: 0px
  .navbar .brand
    margin-left: 10px
  .navbar .btn-navbar
    margin-right: 10px
  .footer-wrapper
    padding: 25px 10px 10px 10px
    height: auto
    ul
      margin: 0px
  .home-design
    .hero-unit ul span
      font-size: 15px
    ul
      margin: 0px
    .content
      padding: 0px
      h1
        text-align: center
    .home-submit
      margin-left: 0px
      margin-top: 10px
    .footer-wrapper
      .span2
        margin-left: 0px
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"],
  select[class*="span"], textarea[class*="span"], .uneditable-input
    min-height: 50px
  .worklog-filters
    .row
      margin-bottom: 10px
    .lead
      margin-bottom: 5px
    .pull-right
      float: none
    .pull-left
      float: none
  .datetime
    select
      display: inline-block
      max-width: 100px
  #invoice_content
    width: auto
  .mobile-no-padding
    padding: 0px
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"]
    width: 250px
  .tip-explanations, .tutorial-close, .random-tip
    display: none
