@media (max-width: 767px)
  .content
    padding-top: 0px
    padding-bottom: 0px
  .hero-unit
    padding: 10px
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
    margin-left: 0px
    margin-right: 0px
  .navbar .brand
    margin-left: 10px
  .navbar .btn-navbar
    margin-right: 10px
  .footer-wrapper
    padding: 10px
  .home-design .home-submit
    margin-left: 0px
    margin-top: 10px
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"],
  select[class*="span"], textarea[class*="span"], .uneditable-input
    min-height: 50px
